name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  DOTNET_VERSION: "9.0.x"

permissions:
  contents: read
  actions: read
  packages: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - runtime: linux-arm64
            output_dir: linux-arm64
            artifact_name: jacred-linux-arm64
          - runtime: linux-x64
            output_dir: linux-amd64
            artifact_name: jacred-linux-amd64
          - runtime: win-x64
            output_dir: windows-x64
            artifact_name: jacred-windows-x64
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup .NET
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore --verbosity minimal

      - name: Publish ${{ matrix.artifact_name }}
        run: |
          dotnet publish JacRed.csproj \
            --configuration Release \
            --runtime ${{ matrix.runtime }} \
            --output ${{ runner.temp }}/${{ matrix.output_dir }} \
            --self-contained true \
            -p:PublishTrimmed=false \
            -p:PublishSingleFile=true \
            -p:DebugType=None \
            -p:EnableCompressionInSingleFile=true \
            -p:OptimizationPreference=Speed \
            -p:SuppressTrimAnalysisWarnings=true \
            -p:IlcOptimizationPreference=Speed \
            -p:IlcFoldIdenticalMethodBodies=true \
            --verbosity minimal

      - name: Upload artifact ${{ matrix.artifact_name }}
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ runner.temp }}/${{ matrix.output_dir }}
